@import './settings';
@import './global';

@import '../../../node_modules/foundation-sites/scss/foundation';

.app {
  @include xy-grid-container;
  text-align: center;
}

.app-container {
  background-color: rgba(58, 71, 85, 1);
  min-height: 100vh;
  width: auto;
  // display: flex;
  // flex-direction: column;
}

.app-header {
  margin: 40px 0 50px 0;
  color: rgba(255, 255, 255, 1);
}

.calculator-container {
  @include xy-grid;
  height: inherit;
}

.calculator {
  @include xy-cell(12);
  @include breakpoint(large) {
    @include xy-cell(3);
    @include xy-cell-offset(2);
  }

	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
  border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .display {
    width: auto;
    height: 100px;
    background-color: rgba(32, 32, 32, 1);
    color: rgba(255, 255, 255, 1);
    text-align: right;
    font-size: 48px;
    padding: 10px 15px;
    overflow: hidden;
  }

  .calculator-buttons {
    @include xy-grid-layout(4, 'button');
    height: 450px;
  }

  button {
    @include button;
    margin: 0;
    width: 25%;
    height: 60px;
    // General color for buttons
    @include button-style(rgba(200, 201, 204, 1), auto, auto);
    // Buton overrides
    &.btn-number {
      @include button-style(rgba(212, 214, 215, 1), auto, auto);
    }
    
    &.btn-operator {
      @include button-style(rgba(235, 148, 57, 1), auto, auto);
      color: rgba(255, 255, 255, 1);
    }
    
    &.btn-equal {
      @include button-style(rgba(235, 148, 57, 1), auto, auto);
    }
    
    &.btn-reset {
      @include button-style(rgba(200, 201, 202, 1), auto, auto);
    }

    &.btn-zero {
      width: 50%;
      text-align: left;
      padding-left: 1.8rem;
    }
  }
}

.calculator-stack {
  @include xy-cell(12);
  @include breakpoint(medium) {
    @include xy-cell(2);
    @include xy-cell-offset(1);
  }

  & h4 {
    color: rgba(255, 255, 255, 1);
  }
}

table {
  @include table;
}
